---
name: Blue Search
scripts:
    - '/lib/uri.js'
    - '/lib/emberjs/handlebars-1.0.0.beta.6.js'
    - '/lib/jquery.isotope.min.js'
    - '/lib/jquery.
    - '/js/circle.js'
---
%form.search-bar
  .container
    .search
      %input#search-field(type="text" placeholder="Search the Internet")
    .go
      %input#go-button(type="submit" value="Go")


#results
  %h1 TODO: interleave images.google.com results with normal results
  %h1 TODO: filter results
