%form.search-bar
  .container
    .search
      %input#search-field(type="text" placeholder="Search the Internet")
    .go
      %input#go-button(type="submit" value="Go")

#filters

#results
  %h1 TODO: interleave images.google.com results with normal results
  %h1 TODO: filter results
